.star2 {
    color: #FFBA49;
}

.star2 {
    font-size: 1vw;
}

.tshirt {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    color: #222222;
    margin-left: 4.5vw;
}

.breadcrumb {
    margin-left: 4.5vw;
}

.breadcrumb a {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #9B9B9B;
    text-decoration: none;
}

.data-pd {
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25) !important;
    border-radius: 13px;
}

.data-pd img {
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.data-pd h5 {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.data-pd span {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #DB3022;
}

.data-pd {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
}