

/* :root {
 --color-primary:
} */

.colors{
    background: #FCFFA6;
    background-color: #1C3391; /*button color */
    background-color: #1C3391; /*logo color */
    color: #FFFFFF; /*text color */
    color: #FFFFFF; /*text color */
}

/* Auth Pages 
(Login, Register, Forgot Password) */
.button-auth {
    background-color: #fcffa6;
    border-radius: 25px;
}

.button-auth:hover {
    background-color: #fcfdd8;
}

.button-role {
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0px 1px solid #020202 8px rgba(0, 0, 0, 0.05);
}

.customer {
    background-color: #fcffa6;
}

.customer:hover {
    background-color: #fcffa6;
    border-radius: 4px 0px 0px 4px;
}

.customer:focus {
    background-color: #fcffa6;
}

.forgot-text {
    margin-left: 300px;
    margin-bottom: 50px;
}
/* Auth Pages 
(Login, Register, Forgot Password) */

/* Navigasi Home1 */
.nav-home-height{
    min-height: 100px;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}
.nav-button {
    width: 100px;
    height: 36px;
    border-radius: 1rem;
    padding-top: 0;
    background-color: #1C3391;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400px;
}
.nav-logo-border{
    border: 1px solid #020202 solid;
    padding: 0.7rem;
    border-radius: 0.5rem;
    
}
.logo-color{
    color: #9B9B9B;
}
.logo-button{
    border: none;
}
.nav-search-box{
    border-radius: 1rem;
    width: 560px;
}
/* Navigasi Home1 */

/* Modul Filter */
.modal-height{
    min-height: 758px;
}
.box-filter-header{
    box-shadow: 0px 6px 30px rgba(19, 18, 18, 0.25);
}
.box-filter-footer{
    box-shadow: 0px 6px 50px  rgba(19, 18, 18, 0.25);
}
.box-modal-category{
    border-radius: 8px;
    width: 100px;
    height: 40px;
    background-color: #1C3391;
    color: #FFFFFF;
}
.box-modal-size{
    border-radius: 8px;
    height: 40px;
    width: 40px;
    border: 1px solid #020202 solid #383838;
}
.box-modal-size:focus{
    background-color: #1C3391;
    color: #FFFFFF;
}

.choose-color1{
    background-color: #020202;
}
.choose-color2{
    background-color: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(19, 18, 18, 0.25);
}
.choose-color3{
    background-color: #B82222;
}
.choose-color4{
    background-color: #BEA9A9;
}
.choose-color5{
    background-color: #E2BB8D;
}
.choose-color6{
    background-color: #151867;
}
/* Modul Filter */
