.colors{
    background: #FCFFA6;
    background-color: #1C3391; /*button color */
    background-color: #1C3391; /*logo color */
    color: #FFFFFF; /*text color */
    color: #FFFFFF; /*text color */
    
} 

/* Navigasi Home1 */
.nav-home-height{
    min-height: 100px;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
}
.nav-button {
    width: 100px;
    height: 36px;
    border-radius: 1rem;
    padding-top: 0;
    background-color: #1C3391;
    font-size: 14px;
    font-weight: 400px;
}
.nav-logo-border{
    border: 1px solid;
    padding: 0.7rem;
    border-radius: 0.5rem;
    
}
.logo-color{
    color: #9B9B9B;
}
.nav-search-box{
    border-radius: 1rem;
    width: 560px;
}
/* Navigasi Home1 */